html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

/*================================================*/
/*                   Global                       */
a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

/*================================================*/


/*================================================*/
/*                   NAVEBAR                      */


.navbar {
    background-color: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 40vh;
    overflow: hidden;
}


.navbar .nav-logo a {
    font-size: 1.6rem;
    padding: 1rem 0;
    text-decoration: none;
    text-align: center;
}

.navbar .navbar-menu {
    justify-content: space-between;
}


.navbar .navbar_itens {

    display: flex;
    margin: 0;
}

.navbar .navbar_itens .navbar_link{

    padding: 1.8rem 1rem;
    font-size: 1.1rem;
    position: relative;
}
.flex-row {
    display: flex;
}

/*================================================*/