@import url('../css/fonts.css');


html,
body {
    margin: 0%;
    box-sizing: border-box;
    /*overflow: auto;*/
    scroll-behavior: smooth;
    background-color: black;
    max-width: 100%;
    text-align: center;
}

/*================================================*/
/*                   Global                       */
a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}
h1{
    font-size: clamp(1.75em,1em + 3vw,2.5em);
    text-align: center;
    align-items: center;
}

p{
    font-size: clamp(1em,1em + 1vw,1.25em);
}

/*================================================*/


/*================================================*/
/*                   NAVEBAR                      */



.navbar {
    padding: 0 2rem;
    height: 0rem;
    min-height: 12vh;
    overflow: hidden;
    height: auto;
}

.fundo_inicial{
    text-align: center;
    align-items: center;
    color: white;
    text-align: center;
    align-items: center;
}

.fundo_inicial h1{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Anne;      
    font-size: 50px;
}

.secao{
    font-family: Anne;
}

.navbar .nav-logo {
    margin-left: -50px;
}

.navbar .nav-logo a {
    /*font-size: clamp(1.75em,1em + 3vw,2.5em);*/
    font-size: max(60px,6vw);
    padding: 1rem 0;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-family: Morning;
    width: auto;
    height: auto;
}

.navbar .navbar-menu {
    justify-content: space-between;
}


.navbar .navbar_itens {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    padding: auto;
}
.navbar .navbar_itens .navbar_link {
    padding: 1.8rem 1rem;
    font-size: clamp(1em,1em + 1vw,1.25em);
    position: relative;
    margin-left: 20px;
}

.navbar .navbar_itens .navbar_link a {

    color:white;
    font-family: Anne;
    font-size: max(25px,1vw);
}



.navbar .navbar_itens .navbar_link:hover {

    
    padding: 1.8rem 1rem;
    font-size: 1.1rem;
    position: relative;
    border-radius: .3em;
    border-bottom: 5px solid #0062b9;
    top: -20px;
}

.social{
    width: 150px;
    height: auto;
    color: white;
    margin-top: 50px;
    text-align: left;
    font-size: 50px;
    position: relative;
}

/*================================================*/


/*================================================*/
/*              Menu Hamburguer                  */


@media only screen and (min-width: 1216px) {
    .navbar_button {
        display: none;
    }

    .overlay {
        display: none;
    }
}

@media only screen and (max-width: 1216px) {
    .navbar .navbar_itens .navbar_link {
        display: none;
    }

    .navbar_button {
        border: 0;
        border-radius: 5px;
        padding: 8px;
        background-color: rgb(0, 46, 87);
        margin: 8px;
        cursor: pointer;
    }

    .navbar_button i {
        color: white;
    }

    .overlay {
        width: 0%;
        height: 100%;
        background-size: 100%;
        background-image: url(../assets/fuga-de-tinta-colorida-em-fundo-branco.jpg);
        background-repeat: no-repeat;
        position: fixed;
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: all 0.7s;
        border-end-end-radius: 10%;
    }

    .overlay-content {
        text-align: center;
        justify-content: center;
        top: 25%;
        margin-top: 20px;
        margin-left: 52%;

    }

    .overlay-content a {
        padding: 16px;
        text-decoration: none;
        color: #0062b9;
        display: block;
        font-size: 32px;
        transition: 0.3s;
        padding: 25%;


    }

    .overlay-content a:hover,
    .overlay-content a:focus {
        color: black;
    }

    .closeBtn {
        text-align: center;
        justify-content: center;
        top: 25%;
        margin-top: 55px;
        margin-left: 80%;
        font-size: 62px;
    }

    .closeBtn:hover {
        color: black;

    }
    .social{
        display: block;
        font-size: 35px;
        
    }


}


    @media only screen and (max-width: 600px) {
        .navbar .navbar_itens .navbar_link {
            display: none;
        }


        .closeBtn {
            font-size: 50px;
        }


        .overlay-content a {
            font-size: 25px;
        }
        .social{
            font-size: 25px;
        }

    }

    .navbar .nav-logo a {

        margin-left: 100px;
    }

    @media only screen and (max-width: 450px) {
        .navbar .navbar_itens .navbar_link {
            display: none;
        }

        .closeBtn {
            font-size: 40px;
        }


        .overlay-content a {
            font-size: 120%;
        }

        .navbar .nav-logo a {
            font-size: max(60px,6vw);
        }

        .social{
            font-size: 25px;
        }


    }


    @media only screen and (max-width: 300px) {
        .navbar .navbar_itens .navbar_link {
            display: none;
        }

        .closeBtn {
            font-size: 40px;
        }


        .overlay-content a {
            font-size: 120%;
        }

        .navbar .nav-logo a {

            margin-left: 500px;
            margin-bottom: 100px;
            font-size: 1.1rem;
        }
        .social{
            font-size: 20px;
        }


    }

   












/*================================================*/
/*                   BODY                        */

main {
    width: 100%;
    height: 100vh;

}

img {
    width: 100%;
    height: auto;
  }
  

#trabalhos, #especializacao, #faleConosco {
    margin: auto;
    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 150px;
    color: white;
}

.secao{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top,rgba(0,0,0,1), rgba(0,0,0,0)), url(../assets/trabalhos.jpg);
    opacity: 80%;
    background-size: cover;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;    
}

.secao h1{
color: white;
font-size: max(20px,2vw);
}
.secao p{
color:white;
font-size: max(16px,2vw);
}

#container{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;
  
}

#container button{


}

#container img{
    width: 800px;
    height: 600px;    
}

.secao img{
    width: 80%;
    height: 80%;
    flex-direction: column;
}



.secao2{
    border-top: 2px solid #0062b9;
    display: flex;
    justify-content: center;
}

.secao2 img {
   margin: auto;  
    width: 80%;
}


.secao3{
border-top: 2px solid #0062b9;
}

.secao3 img {
    width: 80%;
    margin-bottom: 10px;
}

.secao3 h1{
    font-size: max(20px,2vw);
    padding: 0px;

}

/*================================================*/